<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Gallery</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/webjars/cropperjs/dist/cropper.min.js"></script>
    <script type="text/javascript" src="/gallery.js"></script>
    <link href="/webjars/cropperjs/dist/cropper.min.css" rel="stylesheet">
    <style>
    #image-upload {
    max-width: 100%;
    }
    </style>
</head>
<body>
	<div th:each="entry : ${images}">
		<a th:href="@{'/images/' + ${entry.value}}">
			<img th:src="@{'/images/' + ${entry.key}}" />
		</a>
	</div>
	
		<form method="POST" enctype="multipart/form-data" th:action="@{'/upload/' + ${gallery}}" th:if="${editable}">
		File to upload:<input id="file" type="file" name="file" />
				<input type="submit" value="Upload" />
		</form>
		
   <div class="modal fade" id="modal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Crop The Image</h4>
        </div>
        <div class="modal-body">
          <div class="image-container">
          	<img id="image-upload" />
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
</body>
</html>