<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/webjars/cropperjs/dist/cropper.min.js"></script>
</head>
<body>
    <div class="container text-center">
        <h3><a href="/galleries">View Galleries</a></h3>
        <h3 th:if="${loggedin}"><a href="/my-galleries">My Galleries</a></h3>
        <h3 th:unless="${loggedin}"><a href="/registration">Register</a></h3>
        <h3 th:unless="${loggedin}"><a href="/login">Login</a></h3>
        <h3 th:if="${loggedin}"><a href="/logout">Logout</a></h3>
    </div>
     
</body>
</html>